.hiddenFilter {
    display: none;
}

.articleListFilterSection {
    position: fixed;
    width: 90%;
    margin: 0 auto;
    z-index: 900;
    /* height: 100vh; */
    /* height: fit-content; */
    top: 0;
    overflow: scroll;
}

.fixedBody {
    overflow: hidden;
}

.filterBar > svg:first-child {
    margin-left: 15px;
    margin-right: 5px;
}

.filterCross {
    margin-left: 20px;
    margin-top: 15px;
    font-size: 24px;
}

p.showResults {
    background-color: var(--main-purple);
    color: var(--card-green-no-opacity);
    width: 50%;
    text-align: center;
    margin: 30px auto 0px auto;
    border-radius: 7.5px;
    padding: 10px;
    font-size: 22px;
}

.articleListSection {
    display: grid;
    grid-template-columns: 100%;
}

.articleListFilterSection {
    background-color: var(--card-green-no-opacity);
    padding-right: 10px;
    margin-top: 20px;
    border-radius: 15px;
}

.filterLists {
    margin-left: 45px;
}

.filterLists > li {
    list-style: none;
    margin: 5px 0px 5px 20px;
}

.filterLists > li:first-child {
    font-weight: bold;
    margin: 10px 0px 10px 15px;
}

.articleListFilterSection > p:nth-child(2) {
    font-size: 22px;
    margin-left: 45px;
    margin-top: 20px;
}

.hiddenLabel {
    display: none;
}

.filterLabel {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
.filterLabel input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
  
.checkmark {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    left: 0;
    height: 22.5px;
    width: 22.5px;
    background-color: var(--card-green-no-opacity);
    border: 2px solid black;
    border-radius: 3px;
}
  
.checkmark.checked {
    background-color: var(--main-button-color);
}
  
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkmark.checked:after {
    display: block;
}
  
.filterLabel .checkmark:after {
    left: 6px;
    top: 2px;
    width: 3px;
    height: 8px;
    border: solid var(--card-green-no-opacity);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.sideAds {
    display: none;
}

.articleList {
    display: grid;
    grid-template-columns: 100%;
    width: 95%;
    margin: 0 auto 50px auto;
    padding-top: 20px;
    column-gap: 5%;
    height: fit-content;
    justify-content: space-between;
    row-gap: 20px;
    overflow: visible;
    border-top: 3px solid var(--main-purple);
}

@media (min-width: 600px) {
    .articleList {
        grid-template-columns: 46% 46%;
    }
}

@media (min-width: 768px) {
    .articleListSection {
        grid-template-columns: 25% 75%;
    }

    .articleListFilterSection {
        position: relative;
        border-radius: 0px;
        border-right: 2px solid var(--main-purple);
    }

    .showResults{
        display: none;
    }

    .filterBar {
        display: none;
    }

    .articleListFilterSection > p:nth-child(2) {
        margin-left: 10px;
    }

    .filterLists {
        margin-left: 30px;
    }
}

@media (min-width: 1000px) {
    .sideAds {
        display: block;
    }

    .articleListSection {
        grid-template-columns: 20% 60% 20%;
    }
}