.threeCardsRow {
    width: 65%;
    max-width: 1000px;
    margin: 0 auto 50px auto;
    display: grid;
    grid-template-areas: 
    "card1"
    "card2"
    "card3";
    grid-template-columns: 100%;
    column-gap: 5%;
    border-top: 3px solid var(--main-purple);
}

.threeCard:nth-child(1){
    grid-area: card1;
}

.threeCard:nth-child(2){
    grid-area: card2;
}

.threeCard:nth-child(3){
    grid-area: card3;
}

.threeCard {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

@media (min-width: 600px) {
    .threeCardsRow {
        width: 80%;
        grid-template-areas: 
        "card1 card2"
        "card3 card3";
        grid-template-columns: 50% 50%;
    }
}

@media (min-width: 768px) {
    .threeCardsRow {
        width: 80%;
        grid-template-areas: 
        "card1 card2 card3";
        grid-template-columns: 30% 30% 30%;
    }
}