.rsm-geography:focus {
    outline: none !important;
}

.continentSummarySection {
    width: 100%;
    display: grid;
    grid-template-columns: 70% 30%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0px 0px 20px 0px;
    overflow: hidden;
}

.continentSummary {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 0.75rem;
}

.continentSummary > h2 {
    margin: 60px 0px 40px 60px;
    font-size: 32px;
}

.countryName {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.continentSummary > p {
    margin-left: 40px;
    font-size: 16px;
    margin-bottom: 28px;
}

.backgroundWorld > img{
    opacity: 80%;
    width: 100%;
    margin-left: 20%;
}

.breadcrumbMenu {
    width: 80%;
    margin: 40px auto 20px auto;
    max-width: 1000px;
}

.destinationsBreadcrumb > a {
    font-size: 14px;
}

.destinationsBreadcrumb > svg {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 12px;
}

.countryCityName {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 22px;
}

.countryCitySummary {
    font-size: 14px;
}

.heroArticle {
    width: 80%;
    margin: 30px auto;
    display: grid;
    grid-template-areas: 
    "img"
    "tag"
    "title";
    max-width: 1000px;
}

.heroArticleImg {
    width: 100%;
    grid-area: img;
    padding: 10px;
    object-fit: cover;
}

.heroArticleImg > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.heroArticleTag {
    grid-area: tag;
    height: fit-content;
    margin: auto auto 10px 0;
}

.heroArticleTitle {
    grid-area: title;
    margin: 10px;
    font-size: 18px;
}

@media (min-width: 768px) {
    .continentSummarySection {
        padding: 120px 0px 20px 0px;
    }

    .continentSummarySection {
        width: 80%;
        grid-template-columns: 35% 65%;
    }
    
    .continentSummary > p {
        margin-left: 0px;
    }

    .continentSummary {
        font-size: 0.90rem;
    }

    .continentSummary > h2 {
        margin: 20px 0px 60px 0px;
        font-size: 40px;
    }

    .heroArticle {
        display: grid;
        grid-template-areas: 
        "img tag"
        "img title";
        grid-template-columns: 50% 45%;
        justify-content: space-between;
    }

    .heroArticleTitle {
        font-size: 22px;
    }
}

@media (min-width: 900px) {
    .continentSummary > h2 {
        margin-top: 100px;
        margin-bottom: 100px;
        font-size: 48px;
    }
    
    .destinationsBreadcrumb > a {
        font-size: 16px;
    }
    
    .destinationsBreadcrumb > svg {
        margin-right: 7.5px;
        margin-left: 7.5px;
        font-size: 14px;
    }
    
    .countryCityName {
        font-size: 26px;
    }
    
    .countryCitySummary {
        font-size: 16px;
        width: 85%;
    }
}