.heroArticle {
    width: 80%;
    margin: 30px auto;
    display: grid;
    grid-template-areas: 
    "img"
    "tag"
    "title";
    max-width: 1000px;
}

.heroArticleImg {
    width: 100%;
    height: 100%;
    grid-area: img;
    object-fit: cover;
}

.heroArticle.articleCard {
    padding: 7.5px;
}

.heroArticle.skeletonArticleCard {
    padding: 7.5px;
}

.heroArticle.articleCard:hover {
    padding: 4.5px;
}

.heroArticle.articleCard:focus {
    padding: 4.5px;
}

.heroArticleImg > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.heroArticleTag {
    grid-area: tag;
    height: fit-content;
    margin: auto auto 10px 0;
}

.heroArticleTitle {
    grid-area: title;
    margin: 10px;
    font-size: 18px;
}

.skeletonHeroArticleTag {
    width: 55%;
    margin: 20px;
}

.skeletonHeroArticleTitle > span {
    margin: 7.5px 0px;
}

.skeletonHeroArticleTitle {
    padding: 10px;
}

@media (min-width: 768px) {
    .heroArticle {
        display: grid;
        grid-template-areas: 
        "img tag"
        "img title";
        grid-template-columns: 50% 45%;
        justify-content: space-between;
    }

    .heroArticleTitle {
        font-size: 22px;
    }
}