#TripDropdown {
    left: 0px;
    border-radius: 0px 5px 5px 5px;
    grid-template-columns: 22.5% 22.5% 22.5% 22.5%;
    width: 145%;
    column-gap: 3%;
    padding: 10px;
    row-gap: 10px;;
}

.dropDownItem {
    display: flex;
    align-items: center;
    padding: 8px;
    margin: 2px;
    border-radius: 5px;
}

.dropDownItem:hover {
    cursor: pointer;
    background-color: var(--light-grey-overlay);
}

.dropDownItem > svg {
    margin-right: 14px;
}