#TripDropdown {
    left: 0px;
    border-radius: 0px 5px 5px 5px;
    grid-template-columns: 47.5% 47.5%;
    width: 150%;
    column-gap: 5%;
    padding: 10px;
    row-gap: 10px;
    max-width: 450px;
}

.dropDownItem {
    display: flex;
    align-items: center;
    padding: 8px;
    margin: 2px;
    border-radius: 5px;
    padding: 10px 20px;
    width: fit-content;
}

.dropDownItem:hover {
    cursor: pointer;
    background-color: var(--main-purple);
}

.dropDownItem:hover > p, .dropDownItem:hover > svg > path{
    color: var(--darker-background-colour);
}

.dropDownItem > svg {
    margin-right: 14px;
}