.articleListCardStyle2 {
    display: grid;
    grid-template-columns: 100%;
}

.articleListCardStyle2 > .articleCardMeta > .articleCardCategory {
    font-size: 12px;
}

.articleListCardStyle2 > .cardImg > img{
    width: 90%;
}

.articleListCardStyle2 > .articleCardButton {
    width: 90%;
    margin: 10px auto 20px auto;
}

@media (min-width: 768px){
    .articleListCardStyle2 {
        grid-template-columns: 22.5% 57.5% 20%;
    }

    .articleListCardStyle2 > .cardImg > img{
        width: 100%;
        margin-top: 10px;
    }
    
    .articleListCardStyle2 > .articleCardButton {
        margin: 30px auto;
    }
}

@media (min-width: 900px){
    .articleListCardStyle2 {
        grid-template-columns: 22.5% 57.5% 20%;
    }
    
    .articleListCardStyle2 > .cardImg > img{
        margin-top: 0px;
    }

}