#destinationsDropdown {
    width: 160%;
    max-width: 900px;
    grid-template-columns: 30% 30% 30%;
    column-gap: 5%;
    left: 0px;
}

.dropDownContinent {
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dropDownContinent > p {
    font-weight: bold;
}

.dropDownContinent p {
    border-radius: 5px;
    padding: 5px;
    padding-left: 10px;
}

.dropDownContinent p:hover {
    cursor: pointer;
    background-color: var(--light-grey-overlay);
}

.exploreMoreMenuItem{
    color: var(--main-button-color);
    font-weight: bold;
}

