#destinationsDropdown {
    width: 50%;
    max-width: 300px;
    left: 0px;
    animation: growDown 300ms ease-in-out forwards;
    transform-origin: top center;
}

@keyframes growDown {
    0% {
        transform: scaleY(0)
    }
    100% {
        transform: scaleY(1)
    }
}

.dropDownContinent {
    font-weight: bold;
    margin: 10px;
    width: fit-content;
    border-radius: 5px;
    padding: 10px 20px;
    text-decoration: none;
}

.dropDownCountry {
    margin: 10px 5px;
    width: fit-content;
}

.dropDownCountries {
    display: grid;
    grid-template-columns: 100%;
    justify-content: space-around;
    column-gap: 5%;
    margin-left: 15px;
    align-items: center;
    padding-right: 10px;
    padding-bottom: 10px;
}

.dropDownCountry a {
    border-radius: 5px;
    padding: 10px 20px;
    text-decoration: none;
}

.dropDownContinent:hover {
    cursor: pointer;
    background-color: var(--main-purple);
    color: var(--darker-background-colour);
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 2px;
}

.dropDownCountry a:hover {
    cursor: pointer;
    background-color: var(--main-purple);
    color: var(--darker-background-colour);
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 2px;
}

.exploreMoreMenuItem {
    color: var(--main-button-color);
    font-weight: bold;
}