.articleGridStyle4 {
    width: 80%;
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
    margin: 0 auto;
    max-width: 850px;
}

.style4column1 {
    width: 90%;
    margin: 0 auto;
    display: grid;
}

.style4column2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
}

.style4column2 > div {
    width: 90%;
}

.style4column2row1 {
    display: grid;
    column-gap: 10px;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
}

.style4column2row1 > .articleCardStyle1 > .articleCardCategory {
    font-size: 12px;
}

.style4column2row1 > .articleCardStyle1 > .articleCardTitle {
    font-size: 14px;
}

.style4column2row2 {
    display: grid;
    grid-template-columns: 100%;
}

@media(min-width: 768px){
    .style4column2row1 {
        display: flex;
        column-gap: 10px;
        flex-direction: row;
    }

    .style4column2row2 {
        grid-template-columns: 50% 50%;
    }
}

@media(min-width: 900px){
    .articleGridStyle4 {
        grid-template-columns: 50% 50%;
        justify-content: space-between;
    }

    .style4column1 .articleCardTitle {
        font-size: 22px;
    }

    .style4column1 .articleCardCategory {
        font-size: 22px;
        padding: 3px 28px;
    }

    .style4column2 {
        row-gap: 10px;
    }
    .style4column1 {
        width: 100%;
        margin: 0 auto;
    }
}