.viewMoreButton {
    margin: 10px 0px 50px 0px;
}

.viewMoreButton > div {
    background-color: var(--main-purple);
    width: 35%;
    margin: 0 auto;
    border-radius: 5px;
    color: var(--moon-green);
    padding: 5px;
    text-align: center;
}

.viewMoreButton > div:hover {
    cursor: pointer;
}

@media (min-width: 768px) {
    .viewMoreButton > div {
        width: 16%;
    }
}

@media (min-width: 900px) {
    .viewMoreButton > div {
        width: 12%;
    }
}