.pageNotFound {
    width: 90%;
    margin: 70px auto 0 auto;
    max-width: 775px;
}

.pageNotFoundText {
    display: flex;
    width: 90%;
    max-width: 500px;;
    margin-left: 20px;
    flex-direction: column;
    justify-content: center;
}

.pageNotFoundText > p:first-child,
.noArticlesFoundText > p:first-child {
    font-size: 2rem;
    margin-bottom: 5px;
    margin-top: 0px;
}

.pageNotFoundText > p:nth-child(2),
.noArticlesFoundText > p:nth-child(2) {
    font-size: 1.25rem;
    margin-bottom: 35px;
}

.pageNotFoundImg {
    width: 90%;
    margin: 0 auto;
}

.pageNotFoundImg > img {
    width: 100%;
}

@media (min-width: 768px){
    .pageNotFound {
        width: 75%;
    }
}