.heroSection {
    display: grid;
    grid-template-columns: 100%;
    margin: 40px auto;
    width: 80%;
    max-width: 1000px;
}

.heroSection1 > h2 {
    margin: 45px auto auto 45px;
    font-size: 4rem;
}

.heroSection1 > h4 {
    margin: 15px auto 15px 45px;
    font-weight: 400;
}

.heroImage1 > img{
    width: 75%;
    margin-left: 45px;
}

.heroImage2 > img{
    width: 75%;
    margin-top: 30px;
    margin-left: 45px;
}

.seperatorTitle {
    text-align: center;
    padding: 20px;
    max-width: 1000px;
    margin: 50px auto 20px auto;
}

.popularDestinationsSection {
    display: grid;
    grid-template-columns: 100%;
    width: 80%;
    margin: 10px auto;
    max-width: 1000px;
}

.popularDestinationsSection > div {
    width: 90%;
    margin: 0 auto;
}

.MuiAccordion-root {
    margin-bottom: 30px;
}

.destinationsTable {
    width: 90%;
    margin: 0 auto;
}

.destinationsTable > tbody > tr > td {
    padding: 8px;
}

.generalButton {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--main-button-color);
}

.MuiAccordionDetails-root {
    background-color: var(--light-green) !important;
}

.css-1elwnq4-MuiPaper-root-MuiAccordion-root {
    background-color: var(--main-purple) !important;
}

.popularDestinationsSection .MuiTypography-root {
   color: var(--moon-green) !important; 
}

.destinationsTable {
    color: var(--main-purple) !important;
}

@media (min-width: 768px) {
    .heroSection {
        width: 90%;
        grid-template-columns: 50% 50%;
    }

    .heroImage1 > img{
        margin-left: 60px;
    }

    .heroImage2 > img{
        margin-left: 60px;
    }

    .popularDestinationsSection {
        grid-template-columns: 50% 50%;
    }
    
    .MuiAccordion-root {
        margin-bottom: 20px;
    }
}