.heroSection {
    display: grid;
    grid-template-columns: 100%;
}

.heroImage1 > img{
    width: 75%;
}

.heroImage2 > img{
    width: 75%;
}

.seperatorTitle {
    text-align: center;
    padding: 20px;
}
@media (min-width: 768px) {
    .heroSection {
        margin: 0 auto;
        width: 90%;
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .heroImage1 > img{
        margin-left: 60px;
    }
    .heroImage2 > img{
        margin-left: 60px;
    }
}