.articleGridStyle9 {
    width: 80%;
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
    margin: 0 auto;
    max-width: 850px;
}

@media(min-width: 768px){
    .articleGridStyle9 {
        width: 80%;
        display: grid;
        grid-template-columns: 22% 22% 22% 22%;
        justify-content: space-between;
        margin: 0 auto;
        max-width: 850px;
    }
}

@media(min-width: 900px){

}