.mainMobileNavBar{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: var(--background-colour);
    z-index: 200;
    border-bottom: 3px solid var(--main-purple);
}

.navLogo {
    display: flex;
    padding: 10px 10px 10px 10px;
    width: 100%;
    justify-content: center;
    background-color: var(--background-colour);
}

.navLogo > img {
    width: 100%;
    max-width: 200px;
    min-width: 30px;
}

.navSearchIcon {
    display: grid;
    align-items: center;
    grid-template-columns: 90% 10%;
    width: 25%;
    padding-left: 4%;
    margin-right: 5%;
}

.navSearchIcon > svg {
    width: 100%;
    font-size: 20px;
    margin-left: 10px;
}

.sideMenuButton {
    width: 15%;
    z-index: 300;
    right: 0px;
}

.sideMenuButton > svg {
    font-size: 1.25rem;
}

.mainDesktopNavBarContainer {
    width: 100%;
    z-index: 901;
}

.mainDesktopNavBar {
    display: flex;
    justify-content: space-between;
    height: 75px;
    background-color: var(--background-colour);
}

.stickyBuffer {
    height: 75px;
}

.menuFav {
    width: 50px;
}

.menuFav > img {
    width: 100%;
}

.hiddenNav {
    display: none;
}

.stickyNav {
    position: fixed;
    top: 0;
}

@media (min-width: 475px) {
    .sideMenuButton > svg {
        font-size: 1.45rem;
    }

    .navSearchIcon {
        padding-left: 16%;
    }
}

@media (min-width: 575px) {
    .sideMenuButton > svg {
        font-size: 1.55rem;
    }
}

@media (min-width: 675px) {
    .sideMenuButton > svg {
        font-size: 1.65rem;
    }
}

@media (min-width: 768px) {
    .navSearchIcon {
        padding-left: 2%;
    }

    .menuItem:hover {
        cursor: pointer;
    }

    .navSearchIcon > .MuiTextField-root {
        width: 100%;
    }
}

