.articleListCardStyle1 {
    display: flex;
}

.articleListCardStyle1 > .cardImg {
    width: 70%;
    margin: auto;
    display: block;
}

.articleListCardStyle1 > .cardImg > img{
    width: 100%;
}

.articleCardMeta {
    margin-left: 10px;
}

.articleListCardTitle {
    font-size: 14px;
}