.articleTabSection {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto 60px auto;
}

.MuiButtonBase-root.MuiTab-root {
    min-width: 100px;
}

.MuiTab-wrapper {
    font-weight: 900;
}

.MuiButtonBase-root.MuiTabScrollButton-root:first-child {
    border-right: 2px solid var(--main-purple);
    margin-right: 20px;
}

.MuiButtonBase-root.MuiTabScrollButton-root:last-child {
    border-left: 2px solid var(--main-purple);
    margin-left: 20px;
}

.MuiTabs-root {
   background-color: var(--card-green);
}

.MuiBox-root.css-1gsv261 {
    border-bottom: 3px solid;
    border-color: var(--main-purple);
}

.PrivateTabIndicator-root-1.MuiTabs-indicator {
    transition: none;
    display: none;
}

.MuiSvgIcon-root.MuiSvgIcon-fontSizeSmall {
    font-size: 32px;
}

.MuiButtonBase-root.MuiTab-root.Mui-selected {
    background-color: var(--main-purple);
    border-style: solid;
    border-width: 3px 3px 0px 3px;
    border-color: var(--main-purple);
    border-top-left-radius: 7.5px;
    border-top-right-radius: 7.5px;
}

.MuiButtonBase-root.MuiTab-root.Mui-selected > span {
    color: var(--card-green-no-opacity);
}

.MuiTabPanel-root {
    display: grid;
    grid-template-columns: 47.5% 47.5%;
    justify-content: space-between;
    width:100%;
    row-gap: 20px;
    overflow: visible !important;
    height: fit-content !important;
    padding: 24px 12px !important;
}

.MuiTabPanel-root[hidden] {
    display: none;
}

.articleListViewMoreButton {
    grid-column-start: 1;
    grid-column-end: 3;
}

@media (min-width: 768px) {
    .MuiTabPanel-root {
        grid-template-columns: 30% 30% 30%;
    }
    .articleListViewMoreButton {
        grid-column-start: 1;
        grid-column-end: 4;
    }
}

@media (min-width: 1000px) {
    .MuiTabPanel-root {
        grid-template-columns: 22.5% 22.5% 22.5% 22.5%;
    }
    .articleListViewMoreButton {
        grid-column-start: 1;
        grid-column-end: 5;
    }
}