.articleGridStyle5 {
    width: 80%;
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
    margin: 0 auto;
    max-width: 850px;
}

.style5column1 {
    width: 90%;
    margin: 0 auto;
}

.style5column2 {
    width: 90%;
    margin: 0 auto;
}


.style5column2row1 {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
}

@media(min-width: 768px){

}

@media(min-width: 900px){
    .articleGridStyle5 {
        grid-template-columns: 50% 50%;
        align-items: center;
    }
    .style5column1 {
        width: 100%;
    }
    .style5column2 {
        width: 100%;
    }
}