.articleListCardStyle1 {
    display: flex;
}

.articleListCardStyle1 > .cardImg {
    width: 100%;
}

.skeletonListCardImg {
    width: 35%;
}

.skeletonListCardMeta {
    flex-grow: 3;
}

.skeletonListCard {
    align-items: center;
}

.articleCardMeta {
    margin-left: 10px;
    margin-top: 30px;
}

.articleCardMeta > .articleCardCategory {
    margin-top: 0px;
}

.skeletonListCard {
    padding: 7.5px 7.5px 10.5px 7.5px;
}

@media(min-width: 900px){
    .articleCardMeta {
        margin-top: 0px;
    }
}