.tripStylesHero {
    width: 70%;
    margin: 0 auto;
}

.tripStylesHero > img {
    width: 100%;
}

.sectionSeparator {
    height: 15px;
}

@media (min-width: 768px) {
    .tripStylesHero {
        width: 50%;
    }
    
    .sectionSeparator {
        height: 30px;
    }
}