.tripStyles {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 90%;
    margin: 0 auto 40px auto;
    justify-content: center;
    max-width: 1000px;
}

.tripStyles > a {
    width: 35%;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: end;
}

.tripStyles > a:hover {
    cursor: pointer;
}

.tripStyles > a:hover > p {
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 2px;
}

.tripStyles > a:focus > p {
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 2px;
}

.tripStyles > a:focus {
    cursor: pointer;
}

.tripStyles > a > p {
    text-align: center;
    padding: 10px;
}

.tripStyles > a > div {
    width: 80%;
    margin: 0 auto;
}

.tripStyles > a > div > img {
    width: 100%;
}

@media(min-width: 768px){
    .tripStyles > a {
        width: 20%;
    }

    .tripStyles {
        width: 80%;
    }
}