.mainDesktopNavBar {
    max-width: 1000px;
    margin: 0 auto;
}

.mainDesktopNavBarContainer {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    background-color: var(--darker-background-colour);
}

.menuItems {
    display: flex;
    align-items: center;
    margin-left: 30px;
    position: relative;
}

.menuItem {
    padding: 10px;
    border-radius: 5px;
}

.itemName {
    font-weight: bold;
}

.activeMenuItem {
    background-color: var(--main-purple);
}

.activeMenuItem > p {
    color: var(--background-colour);
}

.menuItem > p > svg {
    margin-left: 5px;
}

.navDropdown {
    display: none;
    position: absolute;
    background-color: var(--darker-background-colour);
    border-radius: 0px 5px 5px 5px;
    top: 55px;
    z-index: 200;
    border: 3px solid var(--main-purple)
}

.dropDownContinent {
    padding: 10px;
}

.dropDownContinent > p:first-child {
    margin-bottom: 6px;
}

@media screen and (min-width: 768px){
    .menuItem > p {
        font-size: 14px;
    }

    .navDropdown {
        display: grid;
    }
}

@media screen and (min-width: 1024px){
    .navDropdown{
        display: none;
        position: absolute;
    }

    .menuItem:hover .navDropdown {
        display: grid;
    }

    .menuItem:hover {
        background-color: var(--main-purple);
    }

    .menuItem:hover > p {
        color: var(--background-colour);
    }

    .menuItem > p {
        font-size: 16px;
    }
}