.bottomMenu {
    background-color: var(--main-purple);
}

.bottomMenu > div > p {
    width: 75%;
    margin: 0px auto;
    padding-top: 30px;
    color: var(--moon-green);
    max-width: 780px;
}

.bottomMenuMainSegment {
    display: grid;
    grid-template-columns: 25% 25% 25%;
    justify-content: center;
    max-width: 1000px;
    margin: 0 auto;
}

.bottomMenuSegment:nth-child(2) {
    border-right: var(--divider-line);
    border-left: var(--divider-line);
}

.bottomMenuSegment {
    padding: 10px;
}

.bottomMenuSegment > p {
    padding: 4px;
    font-size: 12px;
    color: var(--moon-green);
}

.bottomMenuDivider {
    width: 77%;
    margin: 0 auto;
    padding-top: 20px;
    margin-bottom: 60px;
    border-bottom: var(--divider-line);
    max-width: 1000px;
}

.copyrightPara {
    text-align: center;
    padding-bottom: 20px;
    font-size: 12px;
}

@media(min-width: 768px) {
    .bottomMenuSegment > p {
        font-size: 16px;
    }
    .bottomMenu > div > p {
        font-size: 20px;
    }
}