.bottomMenu {
    background-color: var(--main-purple);
}

.bottomMenu > div > p {
    width: 75%;
    margin: 0px auto;
    padding-top: 30px;
    color: var(--moon-green);
    max-width: 780px;
}

.copyrightPara {
    color: var(--moon-green);
}

.bottomMenuLogo > img {
    width: 100%;
    margin-bottom: 10px;
}

.bottomMenuLogo > p {
    color: var(--moon-green);
    text-align: center;
    font-size: 20px;
}

.bottomMenuLogo {
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bottomMenuMainSegment {
    display: grid;
    grid-template-columns: 25% 50%;
    justify-content: space-around;
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 20px;
}

.bottomMenuLeft {
    display: grid;
    grid-template-columns: 50% 50%;
}

.bottomMenuLeft p,
.legalLinks a {
    cursor: pointer;
}

.legalLinks {
    display: flex;
    justify-content: center;
}

.legalLinks a {
    color: var(--moon-green);
    text-decoration: none;
    margin: 5px 10px;
    font-size: 12px;
}

.bottomMenuSegment1 > p:first-child {
    margin-left: -10px;
    font-weight: bold;
}

.bottomMenuLeft p:hover,
.bottomMenuLeft p:focus,
.legalLinks a:hover,
.legalLinks a:focus {
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 2px;
}

.bottomMenuLeft p:hover,
.bottomMenuLeft p:focus {
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 2px;
}

.bottomMenuSegment2 {
    border-left: var(--divider-line);
}

.bottomMenuSegment1, .bottomMenuSegment2 {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.bottomMenuSegment1, .bottomMenuSegment2{
    padding: 10px;
}

.bottomMenuSegment1 > p, .bottomMenuSegment2 > p {
    padding: 4px;
    font-size: 12px;
    color: var(--moon-green);
}

.bottomMenuDivider {
    width: 77%;
    margin: 0 auto;
    padding-top: 20px;
    margin-bottom: 20px;
    border-bottom: var(--divider-line);
    max-width: 1000px;
}

.copyrightPara {
    text-align: center;
    padding-bottom: 20px;
    font-size: 12px;
}

@media(min-width: 768px) {
    .bottomMenuSegment1 > p, .bottomMenuSegment2 > p {
        font-size: 18px;
    }
    .legalLinks a {
        font-size: 14px;
    }
    /* .bottomMenu > div > p {
        font-size: 20px;
    } */
}