div[role="tabpanel"]{
    overflow: scroll;
    height: 395px;
}

div[role="tabpanel"] > .css-19kzrtu {
    padding-top: 0px;
    padding-right: 0px;
}

.MuiTabs-scroller > .css-10d9dml-MuiTabs-indicator {
    background-color: rgba(63, 61, 86, 0.85);
}

.articleTabSelector {
    width: 80%;
    max-width: 850px;
    margin: 0 auto 30px auto;
}

.articleTabSelector > .MuiBox-root {
    display: grid;
    grid-template-columns: 40% 60%;
}

div[role="tabpanel"] > .css-19kzrtu > p > div{
    margin-bottom: 12px;
}

@media(min-width: 768px){
    .articleTabSelector > .MuiBox-root {
        display: grid;
        grid-template-columns: 25% 75%;
    }
}

@media(min-width: 900px){

}