.articleCard > .cardImg > img,
.skeletonArticleCard > .cardImg > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.articleCard, .skeletonArticleCard {
    padding: 7.5px 7.5px 10.5px 7.5px;
}

.articleCard:hover, .articleCard:focus {
    box-shadow: 5px 5px var(--main-purple);
    translate: -5px -5px;
    background-color: var(--card-green);
    border: 3px solid var(--main-purple);
    padding: 4.5px 4.5px 7.5px 4.5px;
}

.articleCardTitle {
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}

.articleCard:hover .articleCardTitle, .articleCard:focus .articleCardTitle {
    margin-left: 7px;
}

.articleCardCategoryArea, .skeletonArticleTag {
    padding: 3px 22px;
    margin: -10px 10px 10px 5px;
    font-size: 18px;
    z-index: 100;
    position: relative;
}

.articleCardCategory {
    background-image: linear-gradient(102deg,transparent 1em,var(--main-purple) 1em),linear-gradient(282deg,transparent 1em,var(--main-purple) 1em);
    background-color: transparent;
    background-position: 0 0,100% 0;
    background-repeat: no-repeat;
    background-size: 60% 100%;
    color: var(--background-colour);
    width: fit-content;
    margin: -20px 10px 10px 5px;
}

.articleCardTitle.skeletonArticleCardTitle > span{
    margin: 5px 0px;
}

@media (min-width: 900px) {
    .articleCardTitle {
        font-size: 18px;
    }
}