@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: var(--main-purple);
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-colour);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --main-button-color: #2AAFA0;
  --divider-line: 1px solid grey;
  --light-green: #F3F6F3;
  --accent-color: #8cded4ad;
  --main-purple: #3F3D56;
  --moon-green: #EDF9F7;
  --light-grey: rgb(241, 241, 241);
  --light-grey-overlay: #e5eae9;
  --card-green: #177d7112;
  --card-green-no-opacity: #d8eeea;
  --background-colour: #fdfcff;
  --lighter-card-green-no-opacity: rgb(235, 248, 246);
  --darker-background-colour: #fbf9fe;
}

#root {
  position: relative;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.backToTopBtnMid, .backToTopBtnBot {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 199;
  cursor: pointer;
  padding: 10px 18px;
  border-radius: 10px;
  font-size: 18px;
}

.backToTopBtnMid {
  background-color: var(--main-purple);
  color: var(--darker-background-colour);
}

.backToTopBtnBot {
  background-color: var(--darker-background-colour);
  color: var(--main-purple);
}

.backToTopBtnMid svg, .backToTopBtnBot svg {
  margin-right: 10px;
}

.backToTopBtnMid path {
  color: var(--darker-background-colour);
}

.backToTopBtnBot path {
  color: var(--main-purple);
}

.backToTopBtnMid:hover {
  background-color: var(--darker-background-colour);
  color: var(--main-purple);
  border: 3px solid var(--main-purple);
  padding: 7px 15px;
}

.backToTopBtnBot:hover {
  background-color: var(--main-purple);
  color: var(--darker-background-colour);
  border: 3px solid var(--darker-background-colour);
  padding: 7px 15px;
}

.backToTopBtnMid:hover path {
  color: var(--main-purple);
}

.backToTopBtnBot:hover path {
  color: var(--darker-background-colour);
}