@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: var(--main-purple);
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-colour);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --main-button-color: #2AAFA0;
  --divider-line: 1px solid grey;
  --light-green: #F3F6F3;
  --accent-color: #8cded4ad;
  --main-purple: #3F3D56;
  --main-medium-purple: #555273;
  --main-light-purple: #7c77b3;
  --main-lighter-purple: #a4a1d8;
  --moon-green: #EDF9F7;
  --light-grey: rgb(241, 241, 241);
  --light-grey-overlay: #e5eae9;
  --card-green: #177d7112;
  --card-green-no-opacity: #d8eeea;
  --background-colour: #fdfcff;
  --lighter-card-green-no-opacity: rgb(235, 248, 246);
  --darker-background-colour: #fbf9fe;
  --even-darker-background-colour: #eae4f4;
}

#root {
  position: relative;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes btnAppear {
  0% {opacity: 0; visibility: hidden;}
  100% {opacity: 1; visibility: visible;}
}

.visibleToTopBtn {
  animation-name: btnAppear;
  animation-duration: 0.5s;
}

@keyframes btnDisappear {
  0% {opacity: 1; visibility: visible;}
  100% {opacity: 0; visibility: hidden;}
}

.hiddenToTopBtn {
  animation-name: btnDisappear;
  animation-duration: 0.5s;
  opacity: 0;
}

.backToTopBtnMid, .backToTopBtnBot {
  position: fixed;
  bottom: 20px;
  /* top: 0; */
  right: 30px;
  z-index: 199;
  cursor: pointer;
  padding: 10px 18px;
  border-radius: 10px;
  font-size: 18px;
}

.backToTopBtnMobBtn {
  /* bottom: 380px; */
}

.backToTopBtnMid {
  background-color: var(--main-purple);
  color: var(--darker-background-colour);
}

.backToTopBtnBot {
  background-color: var(--darker-background-colour);
  color: var(--main-purple);
}

.backToTopBtnMid svg, .backToTopBtnBot svg {
  margin-right: 10px;
}

.backToTopBtnMid path {
  color: var(--darker-background-colour);
}

.backToTopBtnBot path {
  color: var(--main-purple);
}

.backToTopBtnMid:hover, .backToTopBtnMid:focus {
  background-color: var(--darker-background-colour);
  color: var(--main-purple);
  border: 3px solid var(--main-purple);
  padding: 7px 15px;
}

.backToTopBtnBot:hover, .backToTopBtnBot:focus {
  background-color: var(--main-purple);
  color: var(--darker-background-colour);
  border: 3px solid var(--darker-background-colour);
  padding: 7px 15px;
}

.backToTopBtnMid:hover path, .backToTopBtnMid:focus path {
  color: var(--main-purple);
}

.backToTopBtnBot:hover path, .backToTopBtnBot:focus path {
  color: var(--darker-background-colour);
}

@media (min-width: 768px){
  .backToTopBtnMid, .backToTopBtnBot {
    /* bottom: 20px; */
  }
}