#firstSideNavMenu {
    position: fixed;
    width: 86%;
    right: 0;
    top: 0;
    height:100vh;
    background-color: var(--darker-background-colour);
    border-left: 20px solid var(--main-purple);
    z-index: 200;
    animation: growSide 300ms ease-in-out forwards;
    transform-origin: top center;
}

@keyframes growSide {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translate(0px, 0px);
    }
}

@keyframes hideSide {
    0% {
        transform: translate(0px, 0px);
        
    }
    100% {
        transform: translateX(100%);
    }
}



.closeSideMenu {
    width: 15%;
    z-index: 300;
    margin-right: 0;
    margin-left: auto;
    margin-top: 22px;
}

.closeSideMenu > svg {
    font-size: 2rem;
}

.secondNavBar {
    position: fixed;
    width: 86%;
    right: 0;
    top: 0;
    height: 150%;
    background-color: var(--darker-background-colour);
    border-left: 20px solid var(--main-purple);
    z-index: 900;
    animation: growSide 300ms ease-in-out forwards;
    transform-origin: top center;
}

.hiddenSecondNavBar {
    animation: hideSide 300ms ease-in-out forwards;
    transform-origin: top center;
}

.sideMenuButtons {
    display: flex;
    margin-bottom: 60px;
}

.secondNavBar .backArrow {
    font-size: 1.75rem;
    margin: 30px;
    margin-left: 6%;
    margin-top: 18px;
}

.secondNavBar > .MuiList-subheader > .MuiListSubheader-root{
    background-color: var(--darker-background-colour);
    font-size: 1.75rem;
    color: var(--main-purple);
    margin-left: 15px;
}

.sideNavMenuChildItem > div > div > span {
    color: var(--main-purple);
    z-index: 999;
}

.navSearchIconSideNav {
    width: 80%;
    display: grid;
    grid-template-columns: 90% 10%;
    align-items: center;
    padding-left: 15%;
    margin-right: 5%;
    margin-top: 25%;
}

.navSearchIconSideNav > svg {
    width: 100%;
    font-size: 20px;
    padding-left: 20px;
}

.sideNavMenuMainItem:first-child {
    margin-top: 30px;
}

.MuiList-root {
    background-color: var(--darker-background-colour) !important;
}

.sideNavMenuMainItem {
    padding-left: 30px;
    background-color: var(--darker-background-colour);
    width: 90%;
}

.sideNavMenuMainItem > .MuiButtonBase-root {
    padding: 15px 35px 15px 15px;
    border-radius: 10px;
}

.sideNavMenuMainItem > .MuiButtonBase-root:hover {
    background-color: var(--main-purple);
    color: var(--darker-background-colour);
}

.sideNavMenuMainItem > .MuiButtonBase-root:hover > div > span {
    color: var(--darker-background-colour);
}

.sideNavMenuMainItem > .MuiButtonBase-root:hover > svg > path {
    color: var(--darker-background-colour);
}

.sideNavMenuChildItem > .MuiButtonBase-root:hover {
    background-color: var(--main-purple);
    color: var(--darker-background-colour);
}

.sideNavMenuChildItem > .MuiButtonBase-root:hover > div > span {
    color: var(--darker-background-colour);
}

.secondNavBar > .backArrow {
    font-size: 1.75rem;
    margin: 30px;
}

.sideNavMenuMainItem > div > svg {
    margin-right: 20px;
    width: 35px;
    color: var(--main-purple-color);
    font-size: 2rem;
}

.sideNavMenuMainItem > div > div > span {
    font-size: 1.5rem;
    margin-left: 20px;
}

.sideNavMenuChildItem > .MuiButtonBase-root {
    border-radius: 10px;
}

.sideNavMenuChildItem span {
    font-size: 1.25rem;
    padding: 10px 20px;
}

.sideNavMenuChildItem {
    margin-bottom: 10px;
}

.sideNavMenuChildItem:last-child {
    margin-bottom: 0px;
}


@media (min-width: 600px) {
    .secondNavBar > .backArrow {
        margin-left: 6%;
    }

    ul.css-p64g7a-MuiList-root {
        width: 80%;
        margin-left: 7.5%;
    }

    .sideNavMenuChildItem {
        margin-left: 30px;
    }
}

@media (min-width: 768px) {
    .navSearchIconSideNav {
        width: 60%;
        padding-left: 10%;
        margin-top: 20%;
    }
}